<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andhra Pradesh</title>
    <link rel="stylesheet" href="../static/andhrastyles.css">
</head>
<body>
    <div class="main">
        <h1 class="heading">Andhra Pradesh</h1>
        <p class="text">Welcome to Andhra Pradesh, the Koh-i-Noor of India, a state rich in history, culture, and artistic brilliance. Renowned for its architectural wonders, the state boasts iconic landmarks like the towering Tirumala Venkateswara Temple, the magnificent Lepakshi temple with its famed hanging pillar, and the ancient Buddhist sites of Amaravati and Nagarjunakonda. Andhra Pradesh is the birthplace of Kuchipudi, a classical dance form blending graceful movements with vivid storytelling. The state’s vibrant crafts, such as Kondapalli toys, Kalamkari textiles, and intricate silver filigree work of Karimnagar, showcase its exceptional artistry. From the serene beaches of Visakhapatnam to the festive grandeur of Sankranti, Andhra Pradesh beckons you to experience its rich heritage and enchanting traditions.</p>
    </div>
    
    <div class="buttons">
        <button class="artforms" onclick="window.location.href='artforms.html'" title="Explore Artforms">Arts</button>
        <button class="handcrafts" onclick="window.location.href='handcrafts.html'" title="Explore Handcrafts">Handicrafts</button>
    </div>
</body>
</html>