<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explore</title>
    <link rel="stylesheet" href="../static/explorestyle.css">
</head>
<body>
    <div class="overview">
        <h1 class="overview-h1" style="font-size: 100px;">Explore</h1>
        <p>The art and handicrafts of South Indian states reflect a rich cultural heritage and creativity. The region is known for its diverse painting styles, such as Tanjore and Mysore paintings, which feature vibrant colors and intricate designs. Handcrafted textiles, like Kalamkari and silk weaving, showcase traditional techniques and storytelling. Additionally, South India is famous for its unique handicrafts, including wood carvings, pottery, and metalwork. These art forms not only highlight the artistic skills of local artisans but also play an important role in preserving cultural traditions and providing livelihoods for many families.</p>
    </div>
    <a href="#">
        <div class="list1">
            <div class="kerala-list-text">
                <h1>Kerala</h1>
                <p>Kerala is renowned for its vibrant art forms, particularly its mural paintings that depict rich mythological themes and are often found in temples.</p>
            </div>
            <div class="kerala-list-img"><img src="../assets/images/river.jpg" class="kerala-list-img-img"></div>
        </div>
    </a>
    <a href="#">
        <div class="list2">
            <div class="tamilnadu-list-img"><img src="../assets/images/tamilnadu.jpg" class="tamilnadu-list-img-img"></div>
            <div class="tamilnadu-list-text">
                <h1>Tamil Nadu</h1>
                <p>Tamil Nadu is renowned for its rich tradition of arts and handicrafts, including exquisite silk weaving, intricate bronze casting, and vibrant kolam designs. The state's artisans skillfully preserve these age-old techniques, reflecting the cultural heritage and artistic brilliance of the region.</p>
            </div>
            
        </div>
    </a>
    <a href="#">
        <div class="list3">
            <div class="karnataka-list-text">
                <h1>Karnataka</h1>
                <p>Karnataka is celebrated for its diverse art and handicrafts, including the intricate Mysore silk sarees, exquisite sandalwood carvings, and vibrant Bidriware, which showcase the state's rich cultural heritage.</p>
            </div>
            <div class="karnataka-list-img"><img src="../assets/images/karnataka.jpg" class="karnataka-list-img-img"></div>
        </div>
    </a>
    <a href="#">
        <div class="list4">
            <div class="andhrapradesh-list-img"><img src="../assets/images/andhrapradesh.jpg" class="andhrapradesh-list-img-img"></div>
            <div class="andhrapradesh-list-text">
                <h1>Andhra Pradesh</h1>
                <p>Andhra Pradesh is known for its vibrant art and handicrafts, including the intricate Kalamkari paintings, which feature hand-painted or block-printed designs inspired by mythology and nature. </p>
            </div>
            
        </div>
    </a>
    <a href="#">
        <div class="list5">
            <div class="telangana-list-text">
                <h1>Telangana</h1>
                <p>Telangana is renowned for its exquisite handicrafts, particularly the intricate Pochampally Ikat textiles, which are celebrated for their vibrant patterns and unique dyeing techniques.</p>
            </div>
            <div class="telangana-list-img"><img src="../assets/images/telangana.jpg" class="telangana-list-img-img"></div>
        </div>
    </a>
</body>
</html>