<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karnataka</title>
    <link rel="stylesheet" href="../static/karnatakastyle.css">
</head>
<body>
    <div class="main">
        <h1 class="heading">Karnataka</h1>
        <p class="text">Welcome to Karnataka, the Land of Splendor and a harmonious blend of heritage, art, and natural beauty. Known for its exquisite architecture, the state is home to iconic landmarks like the Hampi ruins, Mysore Palace, and the stunning temples of Belur and Halebidu, adorned with intricate carvings. Karnataka is the birthplace of Yakshagana, a traditional theater form combining dance, music, and storytelling, as well as Carnatic music, which echoes the soul of its culture. Handcrafted marvels like Mysore silk sarees, sandalwood carvings, and Bidriware reflect the state's artistic brilliance. From the misty hills of Coorg to the vibrant traditions of Mysuru Dasara, Karnataka invites you to explore its timeless elegance and charm.</p>
    </div>
    
    <div class="buttons">
        <button class="artforms" onclick="window.location.href='artforms.html'" title="Explore Artforms">Arts</button>
        <button class="handcrafts" onclick="window.location.href='handcrafts.html'" title="Explore Handcrafts">Handicrafts</button>
    </div>
</body>
</html>