<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Handicrafts</title>
    <link rel="stylesheet" href="../static/kerala_handicraftsstyle.css">
</head>
<body>
    <div class="header">
        <h1 class="headertext">Handicrafts of Kerala</h1>
        <p class="lowertext">Kerala is renowned for its diverse handicrafts, showcasing traditional skills in wood carving, coir products, and intricate metalwork. Notable crafts include Kerala mural paintings, Kasargod weaving, and unique items made from coconut shells and bamboo, reflecting the state's rich cultural heritage.</p>
    </div>
    <div class="main">
        <div class="handicrafts">
            <a href="#"><img class="imageimage"src="../assets/images/mural_paintings .jpeg"></a>
        </div>
        <div class="handicrafts">
            <a href="#"><img class="imageimage" src="../assets/images/coconutshell.jpg"></a>
        </div>
        <div class="handicrafts">
            <a href="#"><img class="imageimage" src="../assets/images/Coir-01.jpeg"></a>
        </div>
        

    </div>
    <div class="main">
        <div class="handicrafts">
            <a href="#"><img class="imageimage" src="../assets/images/Bajar-Wooden-Art-Online-1.jpg"></a>
        </div>
        <div class="handicrafts">
            <a href="#"><img class="imageimage" src="../assets/images/kathakalimask.webp"></a>
        </div>
        <div class="handicrafts">
            <a href="#"><img class="imageimage" src="../assets/images/screwpine.jpg"></a>
        </div>
    </div>
    </body>
</html>