<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kerala</title>
    <link rel="stylesheet" href="../static/keralastyle.css">
</head>
<body>
    <div class="main">
        <h1 class="heading">Kerala</h1>
        <p class="text">Welcome to Kerala, God's Own Country, a land steeped in heritage and adorned with breathtaking art and culture. Known for its vibrant traditions, Kerala boasts a legacy of classical art forms like Kathakali, Mohiniyattam, and Theyyam, which captivate with their grace and storytelling. The murals and paintings, such as those found in temples, depict mythical tales in vivid hues. Handicrafts like coir, metal sculptures, and intricate woodwork showcase the state's craftsmanship. From its backwaters to its rich cultural tapestry, Kerala invites you to immerse yourself in its timeless charm and creativity.</p>
    </div>
    
    <div class="buttons">
        <button class="artforms" onclick="window.location.href='artforms.html'" title="Explore Artforms">Arts</button>
        <button class="handcrafts" onclick="window.location.href='handcrafts.html'" title="Explore Handcrafts">Handicrafts</button>
    </div>
</body>
</html>