<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tamil Nadu</title>
    <link rel="stylesheet" href="assets/css/tamilstyle.css">
</head>
<body>
    <div class="main">
        <h1 class="heading">Tamil Nadu</h1>
        <p class="text">Welcome to Tamil Nadu, the Land of Temples and a treasure trove of timeless culture and tradition. Renowned for its majestic Dravidian architecture, the state is adorned with ancient temples like the Brihadeeswarar Temple and Meenakshi Amman Temple, which stand as masterpieces of devotion and craftsmanship. Tamil Nadu is the birthplace of classical art forms like Bharatanatyam and Carnatic music, which weave stories through their intricate movements and melodies. The vibrant festivals, from Pongal to the grand temple car festivals, highlight its deep-rooted heritage. Handicrafts such as Tanjore paintings, bronze sculptures, and Kanchipuram silk sarees exemplify its artistic finesse. From its coastal beauty to its cultural grandeur, Tamil Nadu welcomes you to experience its unparalleled legacy and artistry.</p>
    </div>
    
    <div class="buttons">
        <button class="artforms" onclick="window.location.href='artforms.html'" title="Explore Artforms">Arts</button>
        <button class="handcrafts" onclick="window.location.href='handcrafts.html'" title="Explore Handcrafts">Handicrafts</button>
    </div>
</body>
</html>
