<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telangana</title>
    <link rel="stylesheet" href="../static/telanganastyles.css">
</head>
<body>
    <div class="main">
        <h1 class="heading">Telangana</h1>
        <p class="text">Welcome to Telangana, the Pearl of Deccan, where history, culture, and innovation come together in harmony. Known for its architectural grandeur, the state is home to iconic landmarks such as the majestic Charminar, the awe-inspiring Ramappa Temple, and the sprawling Golconda Fort. Telangana is celebrated for its vibrant festivals like Bathukamma and Bonalu, which reflect the rich traditions of its people. The classical dance form Perini Sivatandavam, known as the dance of warriors, and the soulful melodies of folk music add to its cultural vibrancy. Telangana’s artistry shines through its Pochampally ikat weaves, Dokra metal crafts, and exquisite Bidriware. From the bustling streets of Hyderabad to the serene beauty of the lakes and hills, Telangana invites you to explore its unique blend of heritage and modernity.</p>
    </div>
    
    <div class="buttons">
        <button class="artforms" onclick="window.location.href='artforms.html'" title="Explore Artforms">Arts</button>
        <button class="handcrafts" onclick="window.location.href='handcrafts.html'" title="Explore Handcrafts">Handicrafts</button>
    </div>
</body>
</html>